################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/poc-patch-api/DesignTimeBuild/.dtbcache
/.vs/poc-patch-api/v16
/poc-patch-api/bin/Debug/netcoreapp3.1
/poc-patch-api/obj
